<div ng-controller="tabProteins">
    <p>Select all the proteins that you want to include in your analysis.</p>
    <p>Click on the protein names for more information.</p>
    <div class="button-bar">
        <button ng-click="selectAll()" class="btn btn-small">Select All</button>
        <button ng-click="selectNone()" class="btn btn-small">Select None</button>
    </div>
    <div class="accordion">
        <div ng-repeat="protein in proteins" class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle">
                    <input ng-model="protein.selected" type="checkbox" />
                    <a ng-click="toggle(protein)">{{protein.protein}}</a>
                </div>
            </div>
            <div ng-class="{in:protein.expanded}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <pre>{{stringify(protein)}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
