<div ng-controller="tabSamples">
    <p>Select all the sample files that you want to include in your analysis.</p>
    <p>Click on the sample files for more information.</p>
    <div class="button-bar">
        <button ng-click="selectAll()" class="btn btn-small">Select All</button>
        <button ng-click="selectNone()" class="btn btn-small">Select None</button>
        <button ng-click="redownloadSamples()" class="btn btn-small">Redownload Samples</button>
    </div>
    <div class="accordion">
        <div ng-repeat="file in files" class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle">
                    <input ng-model="file.selected" type="checkbox" />
                    <a ng-click="toggle(file)">{{file.sample}}</a>
                </div>
            </div>
            <div ng-class="{in:file.expanded}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <pre>{{file.body}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
