<div ng-controller="tabStats">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-click="sortBy='protein'; reverseSort=!reverseSort">Protein</th>
                <th ng-click="sortBy='median'; reverseSort=!reverseSort">Median</th>
                <th ng-click="sortBy='mean'; reverseSort=!reverseSort">Mean</th>
                <th ng-click="sortBy='standardDeviation'; reverseSort=!reverseSort">Standard deviation</th>
                <th>Slide</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="observation in observations | orderBy:sortBy:reverseSort">
                <td>{{observation.protein}}</td>
                <td>{{observation.median}}</td>
                <td>{{observation.mean}}</td>
                <td>{{observation.standardDeviation | number}}</td>
                <td><a href="{{observation.slide}}">Slide</a></td>
            </tr>
        </tbody>
    </table>
</div>
