<div ng-controller="tabStats">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-class="getSortClass('protein')" ng-click="changeSortColumn('protein')">Protein</th>
                <th ng-class="getSortClass('median')" ng-click="changeSortColumn('median')">Median</th>
                <th ng-class="getSortClass('mean')" ng-click="changeSortColumn('mean')">Mean</th>
                <th ng-class="getSortClass('standardDeviation')" ng-click="changeSortColumn('standardDeviation')">Standard deviation</th>
                <th>Slide</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="observation in observations | orderBy:sortColumn:reverseSort">
                <td>{{observation.protein}}</td>
                <td>{{observation.median}}</td>
                <td>{{observation.mean}}</td>
                <td>{{observation.standardDeviation | number}}</td>
                <td><a href="{{observation.slide}}">Slide</a></td>
            </tr>
        </tbody>
    </table>
</div>
